doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Auto Tag
    style(type='text/css').
           body {
                margin: 0 !important;
            }
  body
    div(id='root')
    script(src='http://localhost:8080/bundle.js')
